<ion-view title="Chat FreePong">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
        <div class="col-md-4  list-wrapper" >
            <div ng-show="!mostrar" class="col-md-12 list-wrapper-header" ng-click="mostrar = true">
                <div class="profile_pic">
                    <img class="profile_pic" ng-src="http://localhost:3000{{userlocal.urlfoto}}">
                </div>
                <div class="user-meta">
                    <span class="user-name">{{userlocal.login}}</span>
                    <span class="user-status"><strong style="font-size:15px; color:red;">{{'Offline'}}</strong>
                        <br>
                        <strong>Pulsa para activar</strong>
                    </span>
                </div>
            </div>
            <div id="headchat" class="col-md-12 list-wrapper-header" ng-click="mostrar = false" ng-show="mostrar">
                <div class="profile_pic">
                    <img class="profile_pic" ng-src="http://localhost:3000{{userlocal.urlfoto}}">
                </div>
                <div class="user-meta">
                    <span class="user-name">{{userlocal.login}}</span>
                    <span class="user-status"><strong style="font-size:15px; color:green;">{{'Online'}}</strong>
                        <br>
                        <strong>Pulsa para desactivar</strong>
                    </span>
                </div>
            </div>
            <div class="scroll-container" ng-show="mostrar">
                <div class="userlist-single" ng-repeat="usuario in usuariosactivos" ng-hide="usuario.login==userlocal.login" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                    <div class="userlist-user-meta">
                        <img class="img-circle" ng-src="http://localhost:3000{{usuario.urlfoto}}"/>
                        <span  class="userlist-userName">{{usuario.login}}</span>
                        <span id="isTyping_{{usuario.login}}" class="is-typing">está conectado</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 msg-wrapper" ng-show="mostrar == true">
          <div class="msg-wrapper-body">
            <div class="msg-container" id="msg-container">
                <div class="msg-single" ng-repeat="mensaje in mensajes" ng-style="">
                    <div class="msg-conatiner">
                        <div id="msguser" class="actual-msg">
                            <br>
                            <div id="blockmsg">
                                <strong style="font-size:20px; color:#6b46e5">{{mensaje.login}}</strong> dice:
                                <div id="bubble">
                                &nbsp;&nbsp;&nbsp;<strong style="font-size:15px">{{mensaje.msg}}</strong>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" class="send-container">
                <input id="inputmsg" class="form-control send-msg-text" ng-model="text" placeholder="Escribe tu mensaje aquí..."></input>
                <a class="send-btn ion-android-send" id="sendmsg" ng-click="enviarmensaje(text); text=''" ng-disabled="!text"></a>
                  <!-- <h1 class="send-btn" ng-click="enviarmensaje()"><span class="glyphicon glyphicon-send"></span></h1> -->
            </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>