<ion-view hide-nav-bar="false" view-title="Logout">
    <ion-content class="fondoLogin" class="login" has-header="false">
        <div>
            <img class="tituloInicio" src="img/textLogout.png">
        </div>
        <div>
            <img class="logoInicio" src="img/palaLogout.png">
        </div>
        <br><br>
        <button class="button button-full button-assertive icon ion-log-out" style="height:75px;" ng-click="signout()">
            &nbsp;&nbsp;&nbsp;Log Out
        </button>
    </ion-content>
</ion-view>